body {
    /*background-color: #222;*/
    /*color: #cccccc;*/
}

body.fixed {
    position: fixed;
}

header {
    background-color: #FFFFFF00;
}

header.smaller {
    background-color: #FFFFFFEE;
    height: 80px;
}

h1, h2, h3, h4 {
    font-family: 'Amatic SC', cursive;
    color: #ffd100;
}

a {
    color: #222;
    text-decoration: none;
}

a.current, a:hover, a:active, a:focus {
    color: #e9bf02;
    text-decoration: none;
}

footer {
    background-color: #e9bf02;
    margin-top: 0; 
    color: #a4bed2;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
    padding: 0 0 100px;
}

footer a {
    color: #5a4a00;
}


.hvr-underline-from-left:before {
    background: #e9bf02;
}


.size_fullscreen {
    position: absolute;
    top: 0;
    bottom: -130px;
    right: 0;
    left: 0;
}


.filter_blowout {
    filter: contrast(.2) brightness(2) saturate(0);   
}

.filter_blowout_0 {
    filter: contrast(1) brightness(1) saturate(1);   
}
.filter_blowout_25 {
    filter: contrast(.8) brightness(1.25) saturate(0.75);   
}
.filter_blowout_50 {
    filter: contrast(.6) brightness(1.5) saturate(0.5);   
}
.filter_blowout_75 {
    filter: contrast(.4) brightness(1.75) saturate(0.25);   
}
.filter_blowout_100 {
    filter: contrast(.2) brightness(2) saturate(0);   
}

.text-longshadow {
    text-shadow:  1px 1px rgba(162, 162, 162, 0.5) , 2px 2px rgba(166, 166, 166, 0.51) , 3px 3px rgba(170, 170, 170, 0.52) , 4px 4px rgba(174, 174, 174, 0.53) , 5px 5px rgba(178, 178, 178, 0.54) , 6px 6px rgba(181, 181, 181, 0.55) , 7px 7px rgba(184, 184, 184, 0.56) , 8px 8px rgba(187, 187, 187, 0.57) , 9px 9px rgba(190, 190, 190, 0.58) , 10px 10px rgba(192, 192, 192, 0.59) , 11px 11px rgba(195, 195, 195, 0.6) , 12px 12px rgba(197, 197, 197, 0.61) , 13px 13px rgba(199, 199, 199, 0.62) , 14px 14px rgba(201, 201, 201, 0.63) , 15px 15px rgba(203, 203, 203, 0.64) , 16px 16px rgba(205, 205, 205, 0.65) , 17px 17px rgba(206, 206, 206, 0.66) , 18px 18px rgba(208, 208, 208, 0.67) , 19px 19px rgba(210, 210, 210, 0.68) , 20px 20px rgba(211, 211, 211, 0.69) , 21px 21px rgba(213, 213, 213, 0.7) , 22px 22px rgba(214, 214, 214, 0.71) , 23px 23px rgba(215, 215, 215, 0.72) , 24px 24px rgba(217, 217, 217, 0.73) , 25px 25px rgba(218, 218, 218, 0.74) , 26px 26px rgba(219, 219, 219, 0.75) , 27px 27px rgba(220, 220, 220, 0.76) , 28px 28px rgba(221, 221, 221, 0.77) , 29px 29px rgba(222, 222, 222, 0.78) , 30px 30px rgba(223, 223, 223, 0.79) , 31px 31px rgba(224, 224, 224, 0.8) , 32px 32px rgba(225, 225, 225, 0.81) , 33px 33px rgba(226, 226, 226, 0.82) , 34px 34px rgba(227, 227, 227, 0.83) , 35px 35px rgba(228, 228, 228, 0.84) , 36px 36px rgba(229, 229, 229, 0.85) , 37px 37px rgba(229, 229, 229, 0.86) , 38px 38px rgba(230, 230, 230, 0.87) , 39px 39px rgba(231, 231, 231, 0.88) , 40px 40px rgba(231, 231, 231, 0.89) , 41px 41px rgba(232, 232, 232, 0.9) , 42px 42px rgba(233, 233, 233, 0.91) , 43px 43px rgba(233, 233, 233, 0.92) , 44px 44px rgba(234, 234, 234, 0.93) , 45px 45px rgba(235, 235, 235, 0.94) , 46px 46px rgba(235, 235, 235, 0.95) , 47px 47px rgba(236, 236, 236, 0.96) , 48px 48px rgba(236, 236, 236, 0.97) , 49px 49px rgba(237, 237, 237, 0.98) , 50px 50px rgba(237, 237, 237, 0.99);
}

.text-longshadow {
    text-shadow: 3px 3px 1px #eee, 4px 4px 1px #eee, 5px 5px 1px #eee, 6px 6px 1px #eee;
}

.img_blurb {
    padding: 100px 60px;
}

#mainLogo{
    height: 100px;
    margin-top: 25%;
    margin-bottom: 0px;
    width: 600px;
    transition: all 0.4s;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/img/sunwalker/sunwalker_logo_whiteBG_Orange.svg);
    display: inline-block;
}

#mainLogo.smaller {
    margin-top: 33px;
    height: 40px;
    width: 190px;
    margin-left: 14px;
    background-image: url(/img/sunwalker/sunwalker_logo_whiteBG_Orange.svg);
}

#mainContainerOffset {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    margin-top: 100px;
}

#splash_container {
    background-size: cover;
    background-position: 0 50%;
    background-image: url('../img/sunwalker/game_exterior_screenshot.jpg');
    transition: all 0.4s;
}

#splash_fade {
    position: absolute;
    bottom: -130px;
    left: 0;
    right: 0;
    height: 100px;
    background: -moz-linear-gradient(top, #FFFFFFFF 0%, #FFFFFF00 100%);
    background: -webkit-linear-gradient(top, #FFFFFFFF 0%, #FFFFFF00 100%);
    background: linear-gradient(to bottom, #FFFFFFFF 0%, #FFFFFF00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#0000000F',GradientType=0 );
    background: -moz-linear-gradient(top, #FFFFFF00 0%, #FFFFFFFF 100%);
    background: -webkit-linear-gradient(top, #FFFFFF00 0%,#FFFFFFFF 100%);
    background: linear-gradient(to bottom, #FFFFFF00 0%,#FFFFFFFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FFFFFF', endColorstr='#00000F',GradientType=0 );
}

#mainContainer {
    margin-top: 0;
}


.fullScreenTrailer {
    position: fixed;
    top: 80px;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 800px;
    background: #fff;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
    overflow: hidden;
    padding-bottom: 50px;
    transition: all 0.4s;
    z-index: 100;
}


/*.fullScreenTrailer.collapsed {
    max-height: 0;
    padding-bottom: 0;
    display: none;
}*/

/*iframe {
    position: absolute;
    top: 80px;
    right: 50px;
    left: 50px;
    min-width: calc(100% - 100px);
    min-height: calc(100% - 200px);
    width: calc(100% - 100px);
    height: calc(100% - 140px);
}*/

.footer_bg {
    background-color: #e9bf02;
}
